* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 1em;
  color: #444;
  text-align: center; 
  line-height: 1.5; 
}

nav, footer {  
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-bottom: 10%;
}

#headline {
  margin-top: 25%;
}

#headline, #projects {
	background-color: #E8E7E5;
}

p {
  font-family: 'Poppins';
}

#projectsContainer {
  text-align: center;  
  width: 100%;
}

.projectDiv {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  height: 60%;
}


.projectImg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}



@media only screen and (min-width: 320px) {

  .projectDiv {
  
    width: 80%;  
  } 
}