* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 1em;
  color: #444;
  text-align: center; 
  line-height: 1.5; 
}

main {
  width: 100%;
}

nav, footer {  
  background-color: #aaa; 
  color: blue; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-bottom: 10%;
}

#headline {
  margin-top: 25%;
  vertical-align: middle;  
}

#headline, #projects {
	background-color: white;
}

#imgOfJesse {  
  width: 225px;
  padding: 15%;
}

#bio {
  width: 50%; 
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%; 
}

#bio p {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 100%;
}

p {
  font-family: 'Poppins';
}

#projects {
  margin-top: 5%;  
}

#projectsContainer {
  text-align: center;  
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
}

.projectTitle {
  color: blue;
}

.projectDiv {
  margin-right: auto;
  margin-left: auto;
  width: 30%;
  height: 60%;
}


.projectImg {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  
}

.linktoProject {
  margin-right: 2%;
}

.projectDescription {
  text-align: left;
}

.techUsed {
  text-align: left;
}





@media only screen and (min-width: 320px) {

  #headline {
  padding: 5%;
}

#imgOfJesse {
  width: 100%;
}

#bio p {  
  text-align: center;  
  width: 100%;
}

  .projectDiv {
  
    width: 80%;  
  } 

  .projectImg {
    width: 100%;
    /*padding: 30%;*/
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
  }

  .techUsed {
    margin-bottom: 15%;
  }
}



@media only screen and (min-width: 768px) {
  
  #headline {
    margin-top: 1%;
  }


  .projectDiv {
  
    width: 40%;  
  }

  .projectImg {
    width: 100%;
    /*padding: 30%;  */
    display: block;  
  } 
}